@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  font-family: "Barlow Semi Condensed", sans-serif;
}

#testimonial-container {
  margin: 5% 3%;
}

/* Moderate violet: hsl(263, 55%, 52%)
Very dark grayish blue: hsl(217, 19%, 35%)
Very dark blackish blue: hsl(219, 29%, 14%)
White: hsl(0, 0%, 100%) */

#testimonial-1 {
  background-color: hsl(263, 55%, 52%);
  color: #ffffff;
  position: relative;
  z-index: 0;
}

#testimonial-2 {
  background-color: hsl(217, 19%, 35%);
  color: #ffffff;
}

#testimonial-3,
#testimonial-5 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}

#testimonial-4 {
  background-color: hsl(219, 29%, 14%);
  color: #ffffff;
}

.item {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px rgb(0, 0, 0, 0.2);
  font-size: 13px;
}
.item p {
  opacity: 70%;
}

.head .name {
  opacity: 100%;
  font-size: 1rem;
}
.head {
  display: flex;
  align-items: center;
  z-index: 3;
}
.head img {
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid hsl(217, 19%, 35%);
}
.item h4 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-weight: 600;
}

.quote {
  position: absolute;
  right: 15%;
  top: 0;
  z-index: -1;
}
@media (min-width: 576px) {
  #testimonial-container {
    max-width: 1200px;
    margin: 100px auto;
  }

  #testimonial-container,
  #testimo-left,
  #top,
  #bottom {
    display: flex;
  }

  #testimonial-5 {
    flex-basis: 25%;
  }

  #testimo-left {
    flex-direction: column;
    flex-basis: 75%;
  }
  #testimo-left .item {
    margin-right: 15px;
  }

  #top,
  #bottom {
    flex-basis: 50%;
  }

  #testimonial-1,
  #testimonial-4 {
    flex-basis: 65%;
  }

  #testimonial-2,
  #testimonial-3 {
    flex-basis: 35%;
  }
}
